[submodule "backend"]
	path = backend
	url = https://github.com/christinenyries/restaurant-reviews-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/christinenyries/restaurant-reviews-frontend
